@import "../variables.scss";

.footer {
  padding-block: 40px;
  background-color: $primary-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  gap: 24px;
  .footer_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    font-weight: bold;
    font-family: $font;
  }
  .logo-name {
    display: flex;
    gap: 12px;
    align-items: center;
    .divider {
      width: 1px;
      height: 80px;
      background-color: #fff;
    }
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    gap: 24px;
    .form {
      display: flex;
      gap: 12px;
      input {
        padding: $button-padding;
        border: 1px solid #fff;
        border-radius: $button-border-radius;
        background-color: $primary-color;
        max-width: 400px;
        width: 100%;
        outline: none;
        color: #fff;
        font-size: 14px;
      }
      input::placeholder {
        font-family: $font-family;
        color: #fff;
      }
      button {
        background-color: $primary-color;
        border: 1px solid #fff;
      }
    }
  }
  .links {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      gap: 30px;
      li {
        border-right: 1px solid #fff;
        padding-right: 1rem;
      }
    }
    ul li:nth-child(3) {
      border-right: none;
    }
  }
  .navList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: $primary_gap;
    .profilepic {
      width: 44px;
      height: 44px;
      border-radius: 50%;
      border: 1px solid $white;
    }
  }
}

.divider {
  height: 100%;
  width: 2px;
  background-color: white;
  padding: 20px 0;
}
