@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
$primary_color: #145c74;
$primary_grey: #575758;
$secondary_color: #f8f7f7;
$sec_grey: #6e6e6e;
$white: #ffffff;
$black: #000000;
$font: "Lexend", sans-serif;
$primary_gap: 24px;
$sec_gap: 12px;

$button-border-radius: 80px;
$button-padding: 14.4px 32px;
$button-height: 60px;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: $primary_color;

  .navList {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: $primary_gap;
    .profilepic{
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      border: 0.0625rem solid $white;
    }
    li {
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      .link {
        color: $white;
        text-decoration: none;
        font-size: 16px;
        font-family: $font;
        font-weight: 600;
        line-height: 25.2px;
      }
      div {
        display: flex;
        align-items: center;
        img {
          max-width: 20px;
          margin-right: 5px;
          &:last-child {
            margin-right: 0;
          }
        }
        .link {
          color: #fff;
          margin-right: 5px;
          text-decoration: none;
          font-family: $font;
        }
      }
    }
  }

  .nav-components {
    justify-content: flex-end;
    display: flex;
    gap: 2.75rem;
    align-items: center;
  }
}

.logo {
  display: block;
  img {
    width: 152px;
    height: 83px;
  }
}




.bttn {
  font-weight: 500;
  line-height: 24px;
  border: none;
  padding: $button-padding;
  border-radius: $button-border-radius;
  font-size: 16px;
  font-family: $font;
  height: 60px;
  cursor: pointer;
}
.signup {
  border: 2px solid $white;
  color: $white;
  background-color: $primary_color;
}
.login {
  background-color: $white;
  color: $primary_color;
}
.divider {
    height: 100%;
    width: 2px; 
    background-color: white; 
    padding: 20px 0; 
}




footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px;
  background-color: $primary_color;
  flex-direction: column;
  .footer_container {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: $primary_gap;
  }
  .footer_logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    font-weight: bold;
    font-family: $font;
  }
  .footer_title {
    font-size: 22px;
    font-family: $font;
    color: #ffffff;
  }
  .footer_subscribe {
    padding: 20px 0;
    text-align: center;
    p {
      padding-bottom: 26px;
      font-size: 18px;
      font-family: $font;
      text-align: center;
      color: $white;
    }
    .footer_form {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      .signup{
        outline: none;
        color: #ffffff;
      }
    }
  }

  .footer_links {
    display: flex;
    gap: 15px;
    padding: 20px 0;
    text-align: center;
    a {
      color: #ffffff;
      text-decoration: none;
      font-family: $font;
      line-height: 35px;
      text-align: center;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .footer_copyright {
    padding-top: 20px;
    font-size: 14px;
    font-family: $font;
    color: $white;
  }
}



