$primary-color: #145c74;
$font-family: "Poppins", "sans-serif";
$secondary-font-family: "Poppins", "sans-serif";
@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
$primary_color: #145c74;
$primary_grey: #575758;
$secondary_color: #f8f7f7;
$sec_grey: #6e6e6e;
$white: #ffffff;
$black: #000000;
$font: "Lexend", sans-serif;
$primary_gap: 1.5rem;
$sec_gap: 0.75rem;
$button-border-radius: 5rem;
$button-padding: 1rem 2rem;
$button-height: 3.75rem;
