@import "../styles/variables.scss";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.div{
  padding: 64px;
}

@mixin flexbox($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
@mixin grid() {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.course-actions {
  @include flexbox(row, flex-end, center);
  gap: 20px;
}
.main-layout {
  padding-inline: 8%;
}

.courses {
  min-height: 90vh;
  background-color: #f8f8f8;
}
.courses-card {
  width: 100%;
  padding-block: 20px;
  background: #f8f8f8;
  @include grid();
  height: 1;

  .course {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: translateY(-5px);
    }

    .img {
      height: 140px;

      img {
        width: 100%;
        height: 100%;
        object-fit: fill;
      }
    }

    .course-details {
      padding: 10px;

      h3 {
        font-size: 16px;
        margin-bottom: 8px;
      }

      p {
        font-size: 14px;
        margin-bottom: 12px;
        color: #555;
      }

      .time {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: #777;
        @include flexbox(row, none, center);
        gap: 10px;
        p {
          @include flexbox(row, center, center);
          gap: 4px;
          img {
            width: 24px;
            height: 24px;
          }
        }
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  button {
    border: none;
    background: none;
    font-size: 16px;
    margin: 0 5px;
    cursor: pointer;
    color: grey;
    &.active {
      font-weight: bold;
      color: $primary-color;
    }
  }
}
